header {
  background: url('../img/la-chouette-agence-banniere.png') no-repeat fixed;
}

$color--title--hero: #d15a1a;
$color--nav--link--hover: #d15a1a;
$color--nav--link: #131313;
$color--bg--nav: #ffff;

.nav {
  position: relative;
  z-index: 2;
  background-color: $color--bg--nav;
  padding: 0 2rem;
  &--bar {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: '. .';
    padding: 2.9rem 0;
    &--logotype {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      h1 {
        display: none;
      }
      img {
        height: 2.5rem;
      }
    }
    &--menu {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(0, -50%);
      -webkit-transform: translate(0, -50%);
      &--link {
        display: inline-block;
        margin-left: 1rem;
        font-size: 1rem;
        a {
          color: $color--nav--link;
          transition: color 0.3s ease-in-out;
          &:hover {
            color: $color--nav--link--hover;
          }
        }
      }
    }
    &--menu--responsive--icon {
      display: none;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      width: 2rem;
      height: 1.5rem;
      cursor: pointer;
      position: absolute;
      span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        width: 100%;
        height: 0.15rem;
        background-color: $color--nav--link;
        &::before,
        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 0.15rem;
          background-color: $color--nav--link;
        }
        &::after {
          transform: translateY(-300%);
        }
        &::before {
          transform: translateY(300%);
        }
      }
    }
    &--menu--responsive {
      z-index: 0;
      display: none;
      position: absolute;
      top: 5.813rem;
      background-color: #eeeeee;
      width: 100vw;
      transform: translateY(-100%);
      transition: transform 0.3s ease-in-out;
      text-align: justify;
      &--link {
        display: block;
        padding: 0.75rem 3rem;
        font-size: 1rem;
        &:last-child {
          border-top: 2px solid #d3d3d3;
        }
        a {
          color: $color--nav--link;
          transition: color 0.3s ease-in-out;
          &:hover {
            color: $color--nav--link--hover;
          }
        }
      }
    }
  }
}

.hero {
  text-align: center;
  padding: 7rem 0;
  &--logotype {
    img {
      width: 6.25rem;
      margin-bottom: 1rem;
    }
  }
  &--text {
    margin-bottom: 2rem;
    h2 {
      font-size: 2rem;
      font-weight: 400;
      color: $color--title--hero;
    }
  }
}
