@charset "UTF-8";
@font-face {
  font-family: et-line;
  src: url("/font/et-line.eot");
  src: url("/font/et-line.eot") format("embedded-opentype"), url("/font/et-line.woff") format("woff"), url("/font/et-line.ttf") format("truetype"), url("/font/et-line.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  color: #575757;
}

.container {
  max-width: 62.5rem;
  margin: 0 auto;
}

.texture {
  backdrop-filter: blur(0.25rem) brightness(0.6);
  -webkit-backdrop-filter: blur(0.25rem) brightness(0.6);
}

.cta {
  cursor: pointer;
  background: #f39766;
  border-radius: 40px;
  text-transform: uppercase;
  padding: 12px 28px;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-bottom-color: rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px 0 rgba(0, 0, 1, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 1, 0.25), inset 0 1px 0 0 rgba(255, 255, 255, 0.15);
  color: white;
  transition: background 0.3s ease-in-out;
}
.cta:hover {
  background: #c27956;
}

header {
  background: url("../img/la-chouette-agence-banniere.jpg") no-repeat fixed;
}

.nav {
  background-color: white;
  padding: 0 2rem;
}
.nav--bar {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: ". .";
  padding: 2.9rem 0;
}
.nav--bar--logotype {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.nav--bar--logotype h1 {
  display: none;
}
.nav--bar--logotype img {
  height: 2.5rem;
}
.nav--bar--menu {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
}
.nav--bar--menu--link {
  display: inline-block;
  margin-left: 1rem;
  font-size: 1rem;
}
.nav--bar--menu--link a {
  color: #070707;
}

.hero {
  text-align: center;
  padding: 7rem 0;
}
.hero--logotype img {
  width: 6.25rem;
  margin-bottom: 1rem;
}
.hero--text {
  margin-bottom: 2rem;
}
.hero--text h2 {
  font-size: 2rem;
  font-weight: 400;
  color: #f3976c;
}

.serv {
  text-align: center;
  max-width: 50rem;
  margin-top: 5rem;
}
.serv--text {
  color: #494949;
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.serv--info {
  display: flex;
  font-size: 0.688rem;
  margin-bottom: 5rem;
}
.serv--info span {
  position: relative;
  padding: 0 1rem;
}
.serv--info span::before {
  font-family: "et-line";
  font-size: 3.75rem;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  color: #364577 !important;
  border-color: #364577 !important;
  display: block;
  margin-bottom: 2rem;
}
.serv--info span::after {
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #333333 !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.serv--info span:nth-child(1)::before {
  content: "";
}
.serv--info span:nth-child(1)::after {
  content: "Web design";
}
.serv--info span:nth-child(2)::before {
  content: "";
}
.serv--info span:nth-child(2)::after {
  content: "Stratégie";
}
.serv--info span:nth-child(3)::before {
  content: "";
}
.serv--info span:nth-child(3)::after {
  content: "Illustrations";
}
.serv--quota {
  margin-bottom: 5rem;
}
.serv--quota--text {
  color: #494949;
  font-size: 1.4rem;
  font-weight: 400;
  font-style: italic;
}
.serv--quota--text::before {
  content: "“";
}
.serv--quota--text::after {
  content: "”";
}
.serv--quota--author {
  font-size: 1rem;
}

.ido {
  background: url("/img/image-de-presentation.bmp") no-repeat fixed;
}
.ido--bloc {
  padding: 6.25rem 0;
}
.ido--bloc--item {
  text-align: center;
  background-color: rgba(116, 107, 84, 0.7);
  padding: 2.5rem;
  max-width: 600px;
}
.ido--bloc--item--title {
  margin-bottom: 1.5rem;
  color: #f39766;
}
.ido--bloc--item--title h3 {
  font-size: 1.375rem;
  line-height: 1.4em;
  font-weight: 400;
}
.ido--bloc--item--text {
  color: white;
  font-size: 0.7rem;
}
.ido--bloc--item--text p {
  margin-bottom: 1rem;
}
.ido--bloc--item--text a {
  color: white;
  text-decoration: underline;
  font-weight: 900;
  transition: color 0.3s ease-in-out;
}
.ido--bloc--item--text a:hover {
  color: #cccccc;
}

.port {
  background: repeating-linear-gradient(0deg, #fff, #fff 6px, #e2e2e2 1px, #e2e2e2 7px);
  padding-bottom: 12rem;
  text-align: center;
}
.port--title {
  display: inline-block;
  color: #494949;
  margin-bottom: 5rem;
  margin-top: 10rem;
  max-width: 450px;
}
.port--title h3 {
  font-size: 1.4rem;
  font-weight: 400;
}
.port--bloc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  grid-template-areas: ". ." ". .";
  max-width: 600px;
}
.port--bloc--card {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.port--bloc--card a {
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-align: center;
}
.port--bloc--card a img {
  max-width: 100%;
}
.port--bloc--card a:hover img {
  opacity: 0.6;
}
.port--bloc--card a:hover::after {
  content: "+";
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.port--bloc--card--text--title {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #333333;
  margin-top: 10px;
  margin-bottom: 20px;
}
.port--bloc--card--text--subtitle {
  font-size: 11px;
  color: #575757;
}

.contact {
  height: 100vh;
  padding-top: 10rem;
  text-align: center;
}
.contact--title {
  display: inline-block;
  color: #494949;
  margin-bottom: 5rem;
  max-width: 450px;
}
.contact--title h3 {
  font-size: 1.4rem;
  font-weight: 400;
}
.contact--form {
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
  gap: 4rem;
  grid-template-areas: "name mail" "how how" "msg msg" "text cta";
  max-width: 800px;
  margin: 0 auto;
}
.contact--form span {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}
.contact--form span label {
  font-size: 1rem;
  position: absolute;
  transition: 0.3s ease-in-out;
  top: 0;
  transform: translateY(-25px);
}
.contact--form span input:focus + label,
.contact--form span textarea:focus + label {
  color: #f39766;
}
.contact--form span input {
  border: 0;
  border-bottom: 1px solid #9c9c9c;
  outline: none;
  transition: 0.3s ease-in-out;
  padding-bottom: 0.5rem;
}
.contact--form span input:focus {
  border-bottom: 1px solid #f39766;
}
.contact--form span textarea {
  border: 0;
  border-bottom: 1px solid #9c9c9c;
  outline: none;
  transition: 0.3s ease-in-out;
  padding-bottom: 0.5rem;
  resize: none;
}
.contact--form span textarea:focus {
  border-bottom: 1px solid #f39766;
}
.contact--form--name {
  grid-area: name;
}
.contact--form--mail {
  grid-area: mail;
}
.contact--form--how {
  grid-area: how;
}
.contact--form--msg {
  grid-area: msg;
}
.contact--form--text {
  text-align: justify;
  font-size: 0.6rem;
  grid-area: text;
}
.contact--form--cta {
  grid-area: cta;
}

/*# sourceMappingURL=main.css.map */
